.home{
  background-color: #010101;
  height:100vh;


}
.h-left{
  flex:1;
  display:flex;
  align-items:left;

  
border-radius: 3px 62px 62px 0px;
background: rgba(34, 32, 33, 0.49);
}
.Rectangle-39{
position:absolute;
width: 800px;
height: 400px;
right: 10px;
top: 100px;

background: #1E0C06;

}
.h1{
  position: absolute;
width: 50px;
height: 25px;
left: 19px;
top: 5px;
color: #F5F5F5;

font-family: 'KyivType Sans';
font-style: normal;
font-weight: 200;
font-size: 50px;
line-height: 115.4%;
}
.h2{
  position: absolute;
width: 200px;
height: 1px;
left: 50px;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 350;
font-size: 20px;
line-height: 39px;

color: #FFDBBB;
}
.line-1{
  position: absolute;
width: 390px;
height: 2px;
left: 150px;
top: 195px;

border: 1px solid #F5F5F5;
transform: rotate(90deg);
}
.h-img{
  position: absolute;
  width: 908px;
  height: 630px;
  left: 0px;
  top: 0px;
  
  background: rgba(34, 32, 33, 0.49);
  border-radius: 3px 62px 62px 0px;
}

.f1{
  position: absolute;
  width: 180px;
height: 130px;
right: 20px;
top: 10px;
border-radius: 42px
}
.f2{
  position: absolute;
  width: 180px;
height: 130px;
right: 230px;
top: 100px;
border-radius: 42px
}
.f3{
  position: absolute;
  width: 180px;
height: 130px;
right: 20px;
top: 320px;
border-radius: 42px
}
.bt{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 11px 70px;
gap: 0px;

position: absolute;
width: 50px;
height: 30px;
left:550px;
top: 400px;

}
.order{
  width:0px;
  height:0px;
left:0px;
font-family: 'Inter';
font-style: normal;
font-weight: 50;
font-size: 30px;
line-height: 16px;

color: #F5F5F5
}

.Navbar {
  height: 60px;
  display: flex;
  
  justify-content: space-between;
  align-items:center;
}



.Navbar > .nav-items > a {
  color: #F5F5F5;
  font-size: 20px;
  text-decoration: none;
  left: 400px;
    margin-right: 80px;

  position: relative;
  opacity: 0.9;
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #3b4da7;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .45s;
  }

  .Navbar > .nav-items > a::before {
      background: transparent;
  }

  .Navbar > .nav-items.open {
      transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }


}